
body {
    background-color: #353535;
    font-family: cursive;
    text-align: center;
    color: #EBF5EE;
}
header{
    font-size: 50px;
    padding: 10px;
}

#banner{
    height: 50%;
    width: 100%;
}
.principal{
    padding: 10px;
    margin: 10px;

}
h1 {
    font-size: 50px;
    padding: 10px;
}

p {
    font-size: 15px;
    margin: 40px;
    margin: 40px;

}

#p2{
    font-size: 20px;
}

em strong {
    color: #EA2B1F;
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

}

.diferenciales{
    background-color: #393D3F ;
    padding: 10px;
    border-radius: 25px;
    margin: 40px;

}
ul{
    text-align: left;
    font-style: italic;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

#imagendiferente{
    width: 40%;
    border-radius: 25px;
}